body{
    font-family: "poppins";
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url("https://cdn.wallpapersafari.com/49/0/rlfI7V.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-weight: bold;

}
.vak-titel{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    outline-style: outset;
    outline-width: 4.5px;
    outline-color: #000;
    font-weight: bolder;
    text-decoration:normal;
}

.vak-titel, CT{
    color:white;
    background-color: rgb(13, 46, 234);
    outline-color:rgba(8, 6, 92, 0.982);
    font-weight: bolder;
}
.vak-titel, CR{
    color:white;
    background-color: rgb(234, 79, 13);
    outline-color:rgba(92, 6, 20, 0.982);
    font-weight: bolder;
}

.module{
    padding:10px;
    width:500px;
    border: 2px outset;
    border-radius: 5px;
    text-align:center;
    
  
    outline:4px solid;
    outline-color: #2E2910;
    background-image: linear-gradient(to top right,#d6d192,#FFF8B0);
   
    font-size:20px;
    font-weight:bold;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    min-height: 800px;
}

.onderwerpen{
    padding:10px;
    width:477px;
    border: 2px outset;
    border-radius: 5px;
    text-align:center;
    outline:2px dotted;
    outline-color: #10192e;
    background-image: linear-gradient(to top right,#d6d192,#FFF8B0);
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.kopje{
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    font-family:"Arial";

}
.linkjes{
    text-align: left;
    font-weight: lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 100px;
}

.collapsible{
    background-color: #d6d192;
    cursor:pointer;

    border-radius:5px;
    padding:10px;
    width:477px;
    border:2px outset;
    text-align:center;
    font-size: smaller;

}
.active, .collapsible:hover{
    background-color: #3242;
    border:2px inset;
}
.content{
    background-color:#ddd787;    
    padding:0px;
    display:none;
    width: auto;
    
    border:2px outset;
    border-color: #0b1941;    
    transition:max-height 0.2s ease-out;
}


.collapsible:after{
    content: "\002B";
  font-size: 20px;
  color: rgb(7, 21, 73);
  float: right;
  margin-left:5px;
}

.active:after {
  content: "\2212";
}
