.collapsible{
    background-color: #d6d192;
    cursor:pointer;

    padding:10px;
    width:477px;
    border:2px outset;
    text-align:center;
    font-size: smaller;
}
.active, .collapsible:hover{
    background-color: #3242;
    border:2px inset;
}
.content{
    background-color:#ddd787;    
    padding:0px;
    display:none;
    width: auto;
    
    border:2px outset;
    border-color: #0b1941;    
    transition:max-height 0.2s ease-out;
}
.collapsible:after{
    content: "\002B";
  font-size: 20px;
  color: rgb(7, 21, 73);
  float: right;
  margin-left:5px;
}
.active:after {
  content: "\2212";
}
body{
    font-family: "poppins";
    height: 100%;
    background-image: linear-gradient(to right,rgb(21, 103, 137),rgb(9, 44, 66));
}
.vak1{
    background-image:linear-gradient(to left bottom,#ddd787,#a5a163 );
    float: centre;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.1);
    width:500px;    
    text-align: left;
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
p{
    margin-top: -5px;
    margin-bottom: 1px;
    margin-left:10px;
}
