body{
    background-color: bisque;
    font-family: "poppins";
    background-image: url(https://elements-resized.envatousercontent.com/envato-dam-assets-production/4209ec14-1bea-4de5-a559-1d594c314657/cf60fef7-1684-48c4-ac06-64fcaca2167b.jpg?w=500&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=47b405b70b7eeaab5363a510fd41cd4f62eea93ec534d4d83786ed5b79b6da7c);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-weight: bolder;
    text-align: center;
}
.vak-titel{
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: blue;
    
}
.vak-info1{
    display:inline-flex;
    width: auto;
    padding:10px;
       
    background-image: url(https://images.pexels.com/photos/20536223/pexels-photo-20536223.jpeg?cs=srgb&dl=pexels-timothy-huliselan-205951426-20536223.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;

    color:black;


    margin-left: 20px;
    margin-right: 20px;
    max-width: 50%;

    
}
.vak-info2{
    background-color:yellow;
    display:inline-flex;
    gap: 200px;
}
